<div class="navbar">
  <div class="container">
    <div class="pure-menu pure-menu-horizontal">
      <ul class="pure-menu-list">
        <li class="pure-menu-item" [routerLinkActive]="['pure-menu-selected']" [routerLinkActiveOptions]="{exact:true}"><a class="pure-menu-link" [routerLink]="['/']">Bio</a></li>
        <li class="pure-menu-item" [routerLinkActive]="['pure-menu-selected']" [routerLinkActiveOptions]="{exact:true}"><a class="pure-menu-link" [routerLink]="['/technologies']">Technologies</a></li>
        <li class="pure-menu-item" [routerLinkActive]="['pure-menu-selected']" [routerLinkActiveOptions]="{exact:true}"><a class="pure-menu-link" [routerLink]="['/contact']">Contact</a></li>
      </ul>
    </div>
  </div>
</div>
