.footer {
  background-color: #1a1a1a;
  bottom: 0;
  color: #999;
  font-size: 12px;
  height: 45px;
  line-height: 45px;
  padding: 10px 0;
  position: fixed;
  vertical-align: middle;
  width: 100%;
}
